.profile-container {
  height: 71.9vh;
  padding: 2%;
  width: 59%;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-inner-container {
  grid-column-gap: 10%;
  grid-template-columns: 15% 75%;
  display: grid;
  margin-top: 1%;
}

.profile-picture-container {
  background-color: #cccccc58;
  border-radius: 50%;
  height: 18vh;
}

.picture-btn {
  background: none;
  border: none;
  color: #e74860;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 37%;
  left: 29%;
}

.picture-btn:hover {
  color: #243c76;
  transition: all 0.3s;
}

.grid-container-2-col {
  display: grid;
  grid-template-columns: 44% 43%;
  text-align: center;
  align-items: center;
  grid-column-gap: 10%;
  margin-bottom: 1%;
}

.grid-container-1-col {
  display: grid;
  grid-template-columns: 97%;
  align-items: center;
}

.grid-container-1-col .profile-input-field {
  padding: 0.7% 1.24%;
}

.profile-input-field {
  width: 100%;
}

.profile-form-btn {
  position: fixed;
  bottom: 9.5%;
  left: 15.5%;
  right: 15.5%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
