.edit-professional-field{
    width: 35%;
    height: 40%;

}

.edit-professional-field-details {
    width: 210%;
    min-height: 100px;
    
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto; 
  }

  
  .professionalExperience-modal-edit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 50px; 
  }
  
  .edit-professional-field{
  
    width: 80%;
  }
  
  .edit-professional-field-details {
    grid-column: span 2; 
  }
  