.forgotPassword-form h1 {
  font-size: 1.7rem;
  color: #243c76;
  font-family: "Roboto Slab", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 5%;
}

.back-icon {
  font-size: 1.5rem;
  color: #e74860;
  cursor: pointer;
  position: absolute;
  top: 22%;
  left: 22%;
}

.back-icon:hover {
  color: #243c76;
}

.forgotPassword-input {
  width: 51%;
}

.forgotPassword-input input {
  color: #333;
}

.forgotPassword-input label {
  color: #666;
}

.forgotPassword-input label.Mui-focused {
  color: #243c76;
}

.forgotPassword-input .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #243c76;
}

.forgotPassword-input .MuiOutlinedInput-root fieldset {
  border-color: #ccc;
}

.forgotPassword-input .MuiOutlinedInput-root:hover fieldset {
  border-color: #e74860;
}

.forgotPassword-btn {
  margin: 4% 0 2% 0;
}

.login-link {
  text-decoration: none;
  color: #243c76;
}

.login-link:hover {
  color: #7c8aad;
}

@media only screen and (max-width: 1024px) {
  .forgotPassword-form img {
    margin-top: 13%;
    width: 65%;
  }

  .forgotPassword-form h1 {
    margin-top: 6%;
    font-size: 1.7rem;
  }

  .forgotPassword-input {
    width: 66%;
  }
}

@media only screen and (max-width: 600px) {
  .forgotPassword-form img {
    margin-top: 13%;
    width: 65%;
  }

  .forgotPassword-input {
    width: 66%;
  }
}

@media only screen and (max-width: 389px) {
  .forgotPassword-form img {
    width: 60%;
  }

  .forgotPassword-form h1 {
    font-size: 1.5rem;
  }

  .forgotPassword-input {
    width: 66%;
  }
}
