.sidebar-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 7%;
  height: 77.5vh;
  border-right: 0.5px solid #a4755116;
}

.sidebar-inner-container {
  display: grid;
  grid-template-rows: 92% 7.5%;
  height: 77vh;
}

.sidebar {
  border: none;
  background: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

.sidebar-link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 13% 87%;
  align-items: center;
}

.sidebar-icon {
  font-size: 1.4rem;
  color: #243c76;
  text-align: right;
  justify-content: right;
}

.sidebar-back-heading {
  color: #243c76;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.sidebar-heading {
  color: #243c76;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.sidebar:hover {
  .sidebar-icon,
  .sidebar-heading {
    transition: 0.4s;
    color: #e74860;
  }
}

.sidebar-link.active {
  .sidebar-icon,
  .sidebar-heading {
    color: #e74860;
  }
}

.sidebar-back-icon {
  color: #243c76;
  font-size: 1.4rem;
  cursor: pointer;
}

.sidebar-back-icon:hover {
  color: #e74860;
  transition: all 0.3s;
}

.save-btn {
  color: #e74860;
  font-size: 1.4rem;
  padding: 0 8%;
  margin: 0 auto;
}

.sidebar-save-heading {
  color: #e74860;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.sidebar-submit-btn {
  width: 50%;
  margin: 0 auto;
}
